{% extends "layout.html" %}

{% block content %}
    <h1>Costureiras</h1>
    <button class="create-button" onclick="window.location.href='{% url "costureiras:cadastro" %}'">Novo Cadastro</button>
    <div class='card-list'>
        {% for costureira in costureiras %}
            <div class="card">
                <h2>{{costureira.nome}}</h2>
                <div>
                    <a class='btn btn-primary ' href="{% url "costureiras:trabalhos" costureira.id costureira.nome %}">Trabalhos</a>
                </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}

{% endblock js %}