{% extends "layout.html" %}

{% block content %}
<div class='block'>
    <h1>Trabalhos da {{costureira}}</h1>
    <div>
        <a class='btn btn-outline-light' href="{% url "costureiras:relatorio-nc" costureira.id%}">
            Imprimir todos (não Concluidos)
        </a>
    </div>
</div>
    {% if servicos%}
        <table class='tabela-cliente-ordem table table-striped table-light'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Data de Entrega</th>
                    <th>QTY</th>
                    <th>Serviço</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for serv in servicos %}
                <tr>
                    <td>{{serv.ordem.id}} </td>
                    <td>{{serv.ordem.cliente}} </td>
                    <td>{{serv.ordem.data_entrega|date:"d/m/Y"}} </td>
                    <td>{{serv.quantidade}} </td>
                    <td>{{serv.servico}} </td>
                    <td>{{serv.ordem.get_status_display}} </td>
                    <td> 
                        <a class='btn btn-outline-primary' href="{% url "ordens:edit_order" serv.ordem.id %}">Ordem</a>
                        <a class='btn btn-outline-dark' href="{% url "costureiras:relatorio" serv.ordem.id costureira.id%}">Relatório (pdf)</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
            
    {% endif %}
        
{% endblock %}
{% block js %}

{% endblock js %}