{% extends "layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/ordens.css" %}">
{% endblock css %}

{% block content %}
<div class='block'>
    <h1>Editar Ordem do Cliente "{{cliente.nome}}"</h1>
    <div>
        <a class='btn btn-outline-secondary' href="{% url 'ordens:ordens' %}">Voltar</a>
        <form action="{% url 'ordens:emitir_nfe' ordem.id %}" method="post" style='display: inline-block;'>
            {% csrf_token %}
            <button type='submit' class='btn btn-outline-secondary'>Emitir NF</button>
        </form>
    </div>
</div>


{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="card pluss">
    <div class='flip card-head'>
        <h3 >Adicionar Serviços </h3> 
        <div>
            <i class='btn'> + </i>
        </div> 
    </div>
    
    
    <div id='adic' style="display: none;">
        <br>
        <input type="checkbox" id='sEspecial'>
        <label for="sEspecial"><b>Serviço Especial</b> </label>
        <form class='c1' method="post" >
            {% csrf_token %}

                    <!-- Duas divs aqui é importante -->
            <!-- para manter a ordem de label acima do input --> 
            <div id='spc-servi'> 
                {{form.servico.label}}:
                <div>
                    <select id="servico" name="servico">
                        <option value="">Selecione um serviço</option>
                        {% for servico in servicos %}
                            {% if servico.nome != "Especial" %}
                                <option value="{{ servico.id }}" data-preco="{{ servico.valor }}">
                                    {{ servico.nome }}
                                </option>
                            {% else %}
                                <option value="{{ servico.id }}" data-preco="{{ servico.valor }}" data-name="{{servico.nome}}">
                                    {{ servico.nome }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Serviço Especial -->
            <div id="spc-valor" style="display: none;">
                {{ form.valor_unit.label }}: {{ form.valor_unit }}
            </div>
            
            <h4 id="preco">Valor Unitário: R$ 0,00</h4>
            {{ form.quantidade.label }}: {{ form.quantidade }}
            <h4 id="valor-total">Valor Total: R$ 0,00</h4>
            
            {{ form.costureira.label }}: {{ form.costureira }}
            {{form.comissao.label}} (em %):{{form.comissao}}
            {{ form.descricao.label }}: {{ form.descricao }}

            <button type="submit">Adicionar Serviço</button>
        </form>
    </div>
</div>
<br>
<h3 id='ff'>Serviços:</h3>
<p><strong>Total:</strong> {{ total }}</p>

        
    <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Serviço</th>
                        <th>Costureira</th>
                        <th>Comissão</th>
                        <th>Descricao</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ordem_itens %}
                    <tr>
                        <td>{{ item.quantidade }} x</td>
                        <td>{{ item.servico }}</td>
                        <td>{{ item.costureira }}</td>
                        <td>{{ item.comissao }} %</td>
                        <td>
                            {% if item.descricao %}
                                {{ item.descricao }}
                            {% else %}
                                <p>Sem papo</p>
                            {% endif %}
                        </td>
                        <td>{{ item.preco_total }} ({{item.valor_unit}})</td>
                        <td>
                            <a  href="{{ item.get_delete_item  }}" 
                                class="btn btn-danger"
                                onclick="return confirm('Tem certeza que deseja excluir este serviço?');"
                                >
                                Excluir
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

{% endblock %}
{% block js %}
    <script>
        $('#servico')       .change(     function(){ atualizarPreco()    });
        $('#id_valor_unit')     .on('input', function(){ atualizarPreco()    });
        $('#id_quantidade') .on('input', function(){ atualizarPreco()    });
        $(document).ready(function() {
            $('#servico').select2();
            $('#id_costureira').select2();
        });
        $('.flip').click(function () { $('#adic').toggle(function () {
                // Verifica se a div está visível
                if ($('#adic').is(':visible')) {
                    $('html, body').animate({
                        scrollTop: $('.pluss').offset().top
                    }, 500); // Ajuste a duração do scroll em milissegundos
                }
            });
        });
        $('#sEspecial').change( function(){
            const opt = pombo("Especial")

            if($(this).is(':checked')){
                $("#servico option[data-name='Especial']").prop('disabled', false);
                $('#spc-servi').hide();
                $('#spc-valor').show();
                $('#servico').val(opt).trigger('change');
            } else{
                $('#servico').val('').trigger('change');
                $('#spc-valor').hide();
                $('#spc-servi').show();
                $("#servico option[data-name='Especial']").prop('disabled', true);
            }
        })
        
    </script>
{% endblock js %}