{% extends "layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/ordens.css" %}">
{% endblock css %}

{% block content %}
<div class='block'>
    <h1>Editar Ordem do Cliente "{{cliente.nome}}"</h1>
    <div>
        <a class='btn btn-outline-secondary' href="{% url "ordens:ordens" %}">Voltar</a>
        <form action='{% url "ordens:emitir_nfe" ordem.id %}' method="post" style='display: inline-block;'>
            {% csrf_token %}
            <button type='submit' class='btn btn-outline-secondary'>Emitir NF</button>
        </form>
    </div>
</div>


{% if messages %}
    <ul class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </ul>
{% endif %}

<div class="card pluss">
    <div class='flip card-head'>
        <h3 >Adicionar Serviços </h3> 
        <div>
            <i class='btn'> + </i>
        </div> 
    </div>
    
    
    
    <form class='c1' method="post" id='adic' style="display: none;">
        {% csrf_token %}

        {{form.servico.label}}:
        <select id="servico" name="servico">
            <option value="">Selecione um serviço</option>
            {% for servico in servicos %}
                <option value="{{ servico.id }}" data-preco="{{ servico.valor }}">
                    {{ servico.nome }}
                </option>
            {% endfor %}
        </select>
        
        <h4 id="preco">Valor Unitário: R$ 0,00</h4>
        {{ form.quantidade.label }}: {{ form.quantidade }}
        <h4 id="valor-total">Valor Total: R$ 0,00</h4>
        
        {{ form.costureira.label }}: {{ form.costureira }}
        {{ form.descricao.label }}: {{ form.descricao }}

        <button type="submit">Adicionar Serviço</button>
    </form>
</div>
<br>
<h3 id='ff'>Serviços:</h3>
<p><strong>Total:</strong> {{ total }}</p>

        
    <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Serviço</th>
                        <th>Costureira</th>
                        <th>Descricao</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ordem_itens %}
                    <tr>
                        <td>{{ item.quantidade }} x</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.costureira }}</td>
                        <td>
                            {% if item.descricao %}
                                {{ item.descricao }}
                            {% else %}
                                <p>Sem papo</p>
                            {% endif %}
                        </td>
                        <td>{{ item.preco_total }}</td>
                        <td>
                            <a  href="{{ item.excluir }}" 
                                class="btn btn-danger"
                                onclick="return confirm('Tem certeza que deseja excluir este serviço?');"
                                >
                                Excluir
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

{% endblock %}
{% block js %}
    <script>
        $('#servico')       .change(     function(){ atualizarPreco()    });
        $('#id_quantidade') .on('input', function(){ atualizarPreco()    });
        $('.flip')          .click(      function(){ $('#adic').toggle() });
        $(document).ready(function() {
            $('#servico').select2();
            $('#id_costureira').select2();
        });
    </script>
{% endblock js %}