{% extends "layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/ordens.css" %}">
{% endblock css %}
{% block content %}
<h1 style="color: white;">Criar Nova Ordem</h1>
<div class="card">
    <form method='post'>
        {% csrf_token %}
        {{form}}
        <button type="submit">Salvar</buttxson>
    </form>
</div>



{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        $('#id_cliente').select2();
    });
</script>
{% endblock js %}