{% extends "layout.html" %}

{% block content %}
<h1>Ordens de Serviço</h1>
<button class="create-button" onclick="window.location.href='{% url "ordens:new_order" %}'">Criar Nova Ordem</button>
<div class="card-list">
    {% for order in orders %}
        <div class="card">
            <h2>Pedido: {{ order.id }}</h2>
            <p>Cliente: {{ order.cliente }}</p>
            <p>Data do Pedido: {{ order.data_pedido|date:'d / M / y    (H:m)' }}</p>
            <p>Data Para Entrega: {{ order.data_entrega|date:'d / M / y' }} </p>
            <div>
                <a  href="{{ order.get_delete_order }}" class="top-dir"
                    onclick="return confirm('Tem certeza que deseja excluir este serviço?');">
                    <i class="fa fa-light fa-trash fa-lg" style="color: #d11010;"></i>
                </a>
            </div>
                <div class='btn-card'>
                    <div>
                        {% if order.status !=  2%}
                            <a  href="{% url "ordens:edit_order" order.id %}" class="btn btn-success">
                                Editar
                            </a>
                        {% endif %}        
                    </div>
                    <div>
                        <!-- Botão para abrir o modal -->
                        <button class="btn btn-primary" onclick="openModal({{ order.id }})">{{order.get_status_display}}
                        </button>
                    </div>
                </div>
                    
            
        </div>

        <!-- Modal -->
        <div class="modal"  id="modal-{{ order.id }}" style="display: none;" >
            <!--Centraliza Box-->
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ordem {{ order.id }}</h5>
                        <button type="button" class="close" onclick="closeModal({{ order.id }})" >&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="status-form-{{ order.id }}" method="post" action="{% url 'ordens:update_status' order.id %}">
                            {% csrf_token %}
                                <label for="status">Status:</label>
                                <select name="status" id="status-{{ order.id }}" class="form-control">
                                    {% for value, display in status_choices %}
                                        <option value="{{ value }}" {% if order.status == value %}selected{% endif %}>
                                            {{ display }}
                                        </option>
                                    {% endfor %}
                                </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal({{ order.id }})">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="document.getElementById('status-form-{{ order.id }}').submit();">Salvar mudanças</button>
                    </div>
                    
                </div>
            </div>
        </div>


    {% endfor %}
</div>
{% endblock %}
