input[type="submit"] {
    grid-column: span 2;
    margin: 1rem auto;

    width: 50%;

    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #ff5a20;
    }
}