.card-head {
    display: grid;
    grid-template-columns: auto 5rem;
    align-items: center;

    & h3 {
        margin: auto 0;
    }

    & i {
        padding: 0 1rem;
        font-size: 1.5rem;
        border: 1px dashed gray;
    }
}

.flip {
    user-select: none;
}

.card {
    width: 70%;
}

input select {
    background-color: aquamarine;
}

.tt>* {
    width: 90%;
    margin: 1rem 0;
}

.select2-container--default .select2-selection--single {
    height: 2rem;
    font-size: 1.2em;

}