.card-head {
    display: grid;
    grid-template-columns: auto 5rem;
    align-items: center;

    & h3 {
        margin: auto 0;
    }

    & i {
        padding: 0 1rem;
        font-size: 1.5rem;
        border: 1px dashed gray;
    }
}

.flip {
    user-select: none;
}

.card {
    width: 70%;
}

.select2.select2-container {
    width: 90% !important;
    margin: 0 0 1rem 0;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 48px;
    outline: none !important;
    overflow: hidden;
}

.select2-container--default .select2-selection--single {
    font-size: 16px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 46px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    height: 46px;
    width: 33px;
}